.card{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    background-image: conic-gradient( from var(--angle) , red, orange, yellow, white,red);
    animation: 3s spin linear infinite;
}

.card::before{
    filter: blur(10px);
    opacity: .5;
}

@keyframes spin {

    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
    
}

.card2{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    position: relative;
    z-index: 5;
}

.card2::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    padding: 3px;
    z-index: -1;
    animation: 3s rotate linear infinite;
    background-image: linear-gradient(red,yellow);
}

.card2::before{
    content: '';
    position: absolute;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}